body {
  background-color: #c8d8e4;
  margin: 0;
}


.profile-photo {
  height: 70px;
  width: auto;
  margin: 10px auto auto 20px;
}

.top-heading {
  vertical-align: middle;
  top: 12px;
  position: absolute;
  margin: 0 auto auto 110px;
  font-family: cursive;
}

.top-container {
  display: block;
  background-color: #f2f2f2;

}

hr {
  border: none;
  border-top: 1px solid rgba(255,255,255,.3);
  border-bottom: 1px solid rgba(0,0,0,.08);
  position: relative;
}

.top-info {
  position: absolute;
  float: right;
  top: 33px;
  margin: 0 30px auto 65%;
  font-size: 15px;
  padding-right: 0;
  font-family: Arial;


}

.Home-top {
  vertical-align: middle;
  margin: auto 20px auto 20px;
  text-decoration: none;
  color: black;

}

.Albums-top {
  vertical-align: middle;
  margin: auto 20px auto 20px;
  text-decoration: none;
  color: black;
}

.Best-Songs-top {
  vertical-align: middle;
  margin: auto 20px auto 20px;
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
  font-size: 17px;
}

.btn {
  background: #2b6777;
  background-image: -webkit-linear-gradient(top, #2b6777, #2980b9);
  background-image: -moz-linear-gradient(top, #2b6777, #2980b9);
  background-image: -ms-linear-gradient(top, #2b6777, #2980b9);
  background-image: -o-linear-gradient(top, #2b6777, #2980b9);
  background-image: linear-gradient(to bottom, #2b6777, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 20px;
}

.btn:hover {
  background: #305b75;
  background-image: -webkit-linear-gradient(top, #305b75, #3498db);
  background-image: -moz-linear-gradient(top, #305b75, #3498db);
  background-image: -ms-linear-gradient(top, #305b75, #3498db);
  background-image: -o-linear-gradient(top, #305b75, #3498db);
  background-image: linear-gradient(to bottom, #305b75, #3498db);
  text-decoration: none;
  color: white;
}

.pinkfloyd-img1 {
  margin-top: 70px;
  margin: 50px auto 50px auto;
  width: 90%;
  display: block;
  border-radius: 5%;
  border-style: solid;
  border-width: medium;


}
.middle-1-paragraph {
  text-align: center;
  font-family: Arial;
}
.David-middle1 {
  text-align: right;
  margin-right: 15%;
}

.main-paragraph {
  float: left;
  display: inline;
  width: 50%;
  margin-left: 200px;

}

.tthepy-img {
  width: 340px;
  height: 500px;
  border-style: solid;
  border-radius:50%;
  position: relative;
  top: 25px;
  left: 50px;
}

.middle-container2 {
  display: flex;
  align-items: center;
  font-family: Arial;
}

.middle-container3 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: Arial;
}

.youtube-video-div {
  text-align: center;
}

.youtube-video {
  border-style: solid;
  border-width: 20px;
}

.middle-container4 {
  margin: 50px 50px;
}

.David {
  display: flex;
  align-items: center;
  justify-content: center;
}

.David-paragraph {
  display: inline;
  width: 40%;
  margin-left: 30px;
}

.David-photo {
  border-radius: 100%;
  width: 8%;
  position: relative;
}

.Syd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Syd-paragraph {
  display: inline;
  width: 40%;
  margin-right: 30px;
}

.Syd-photo {
  border-radius: 100%;
  width: 8%;
  position: relative;
}

.Roger {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Roger-paragraph {
  display: inline;
  width: 40%;
  margin-left: 30px;
}

.Roger-photo {
  width: 8%;
  position: relative;
}

.Richard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Richard-paragraph {
  display: inline;
  width: 40%;
  margin-right: 30px;
}

.Richard-photo {
  width: 8%;
  position: relative;
}

.Nick {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Nick-paragraph {
  display: inline;
  width: 40%;
  margin-left: 30px;
}

.Nick-photo {
  width: 8%;
  position: relative;
}

.bottom-container {
  border-style: solid;
  border-color: #52ab98;
  padding-top: 50px;
  padding-bottom: 2px;
  margin-top: 50px;
  line-height: 50px;
  background-color: #2b6777;
  font-family: Arial;

}
.socialmedia {
  text-align: center;

}
.copyright {
  font-size: 12px;
  margin-bottom: 2px;
}
